@using Figuritas.Shared.Model


<MudCard Style="max-width: 280px; cursor: pointer;" @onclick="HandleCardClick">
    <MudCardMedia Image="@sticker.ImageUrl" Alt="@sticker.Description" Style="width: 100%; height: auto; aspect-ratio: 5 / 6.5; object-fit: cover;" />
    <MudCardContent>
        <MudText class="text-sm" Color="Color.Secondary">@sticker.Number.ToString("D3")</MudText>
        <MudText class="text-lg text-bold">@sticker.Description</MudText>
        <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 0.75rem;">
            <MudText Class="text-md">@sticker.NationalTeam</MudText>
            <MudText class="text-sm" Color="Color.Secondary">@sticker.Category</MudText>
        </div>
    </MudCardContent>
</MudCard>

@code {
    [Parameter] [EditorRequired] public Sticker sticker { get; set; }

    [Parameter] public EventCallback<Sticker> OnStickerClick { get; set; }

    private async Task HandleCardClick()
    {
        if (OnStickerClick.HasDelegate)
        {
            await OnStickerClick.InvokeAsync(sticker);
        }
    }
}