@page "/catalogo"
@using Figuritas.Client.Components;
@using Figuritas.Client.Extensions;
@using Figuritas.Shared.Responses;
@using Figuritas.Client.Requests;

@inject StickerHttpClient StickerHttp
@inject HttpClient Http
@using Figuritas.Shared.Model

<PageTitle>Catálogo</PageTitle>


@* FILTROS *@
<InputSelect
    class="mb-4"
    Value="@filtroNationalTeamId"
    ValueChanged="@OnFiltroNationalTeamIdChanged"
    ValueExpression="() => filtroNationalTeamId"
    TValue="int"
>
    <option value=0>Todas las selecciones</option>
    @foreach (NationalTeam nationalTeam in nationalTeams ?? new List<NationalTeam>())
    {
        <option value="@nationalTeam.Id">@nationalTeam.Description</option>
    }

</InputSelect>
<InputSelect
    class="mb-4"
    Value="@filtroCategoryId"
    ValueChanged="@OnFiltroCategoryIdChanged"
    ValueExpression="() => filtroCategoryId"
    TValue="int"
>
    <option value=0>Todas las categorías</option>
    @foreach (Category category in category ?? new List<Category>())
    {
        <option value="@category.Id">@category.Description</option>
    }

</InputSelect>

@* LISTADO DE FIGURITAS *@
@if (stickers == null )
{
    <p><em>@mensajeFetch</em></p>
}
else if (!stickers.Any())
{
    <p><em>No se encontraron figuritas</em></p>
}
else
{
    <div class="flex flex-wrap gap-4">
        @foreach (Sticker sticker in stickers)
        {
            <StickerComponent sticker=@sticker @key="sticker.Id"/>
        }
    </div>
}



@code {
    private List<Sticker>? stickers;
    private List<NationalTeam>? nationalTeams;
    private List<Category>? category;
    private string mensajeFetch = "Cargando figuritas...";
    private int filtroNationalTeamId = 0;
    private int filtroCategoryId = 0;

    private async Task OnFiltroNationalTeamIdChanged(int value)
    {
        filtroNationalTeamId = value;
        await FetchStickers();
    }

    private async Task OnFiltroCategoryIdChanged(int value)
    {
        filtroCategoryId = value;
        await FetchStickers();
    }
    
    private async Task FetchStickers()
    {
        mensajeFetch = "Cargando figuritas...";
        stickers = null; // Esto hace que se muestre el mensaje de "Cargando figuritas..." mientras se hace la petición

        ApiResponse<List<Sticker>> response = await StickerHttp.GetStickersAsync(filtroNationalTeamId, filtroCategoryId);
        if (response.Success)
        {
            stickers = response.Data;
        }
        else
        {
            mensajeFetch = "Error al cargar figuritas: " + response.ErrorMessage;
            Console.WriteLine(mensajeFetch);
        }
    }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var nationalTeamsTask = Http.GetAsync("api/NationalTeam");
            var categoryTask = Http.GetAsync("api/Category");
            
            await Task.WhenAll(nationalTeamsTask, categoryTask);

            nationalTeams = await nationalTeamsTask.Result.ProcesarRespuesta<List<NationalTeam>>();
            category = await categoryTask.Result.ProcesarRespuesta<List<Category>>();

            if (nationalTeams != null)
            {
                nationalTeams = nationalTeams.OrderBy(nt => nt.Description).ToList();
            }
            if (category != null)
            {
                category = category.OrderBy(c => c.Description).ToList();
            }


            await FetchStickers();
            
            
        }
        catch (Exception ex)
        {

            mensajeFetch = "Error en petición http: " + ex.Message;
            Console.WriteLine(mensajeFetch);
        }
    }
    
}